@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #f3f5f8;
}

.container {
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 100vh;
  padding: 20px 16px 60px 16px;
}

header {
  h1 {
    font-family: "Pacifico", system-ui;
    font-size: 23px;
    font-weight: 400;
    line-height: 40.39px;
    letter-spacing: -0.02em;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0e121b;
}

.notes-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  gap: 4px;
  margin-top: 16px;
  li {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
      background-color: #f3f5f8;
    }
    h3 {
      font-size: 16px;
      font-weight: 600;
      line-height: 19.2px;
      letter-spacing: -0.30000001192092896px;
    }
  }
  li.active {
    background-color: #f3f5f8;
  }
}

hr {
  border: 1px solid #e0e4ea;
}

.note-tags {
  display: flex;
  gap: 4px;
  span {
    padding: 2px 6px;
    background-color: #e0e4ea;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: -0.20000000298023224px;
  }
}

.note-date {
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: -0.20000000298023224px;
  color: #2b303b;
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 16px;
  background-color: #fff;
  border-top: 1px solid #e0e4ea;
  box-shadow: 0px -4px 6px 0px #f0f0f099;

  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.nav-item {
  border-radius: 4px;
  padding-block: 4px;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;
    svg {
      margin-inline: auto;
    }
    span {
      font-size: 12px;
      font-weight: 400;
      line-height: 14.4px;
      letter-spacing: -0.20000000298023224px;
      color: #525866;
    }
  }
}

.nav-item.active {
  background-color: #ebf1ff;
  a {
    svg {
      fill: #335cff;
    }
    span {
      color: #335cff;
    }
  }
}

.note-header,
.new-note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: -0.20000000298023224px;
    outline: none;
    border: none;
    background-color: transparent;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.note-header-interactions,
.new-note-interactions {
  display: flex;
  gap: 16px;
  button {
    padding: 0;
  }
}

.note-cancelBtn,
.note-saveBtn {
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: -0.20000000298023224px;
}

.note-cancelBtn {
  color: #525866;
}

.note-saveBtn {
  color: #335cff;
}

.new-note-form-btn-group {
  display: flex;
  gap: 16px;
}

.note-saveBtnDesktop,
.note-cancelBtnDesktop {
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.20000000298023224px;
  border: none;
  cursor: pointer;
}

.note-saveBtnDesktop {
  background-color: #335cff;
  color: #fff;
  &:hover {
    background-color: #1e3a8a;
  }
  &:disabled {
    background-color: #e0e4ea;
    color: #99a0ae;
    cursor: default;
  }
}

.note-cancelBtnDesktop {
  background-color: #f3f5f8;
  color: #525866;
  &:hover {
    background-color: #e0e4ea;
  }
}

.note-metadata {
  display: flex;
  flex-direction: column;
  gap: 12px;
  h1 {
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -0.5px;
  }
}

.note-metadata-table {
  color: #2b303b;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: -0.20000000298023224px;
  width: 100%;
  label {
    display: flex;
    align-items: center;
    gap: 6px;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  td {
    padding-block: 4px;
    &:first-child {
      width: 35%;
    }
    input,
    textarea {
      width: 100%;
      resize: none;
      outline: none;
      border: 1px solid transparent;
      font-size: 12px;
      border-radius: 4px;
      line-height: 14.4px;
      letter-spacing: -0.20000000298023224px;
      color: #2b303b;
      &:focus {
        border: 1px solid #0e121b;
      }
      &:disabled {
        background-color: transparent;
        border: none;
        color: #99a0ae;
      }
    }
  }
}

.tags-list {
  margin-top: 16px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-block: 10px;
  cursor: pointer;
  svg {
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-color: #f3f5f8;
  }
}

.backBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: -0.20000000298023224px;
  color: #525866;
  border: none;
  outline: none;
  background-color: transparent;
  svg {
    width: 18px;
    height: 18px;
  }
  &:hover {
    text-decoration: underline;
  }
}

.tag-title {
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -0.5px;
  padding-block: 16px;
  span {
    color: #525866;
  }
}

.search-container {
  input {
    margin-top: 16px;
    border: 1px solid #cacfd8;
    outline: none;
    border-radius: 8px;
    padding: 12px 16px 12px 44px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: -0.20000000298023224px;
    background: url("/svg/search.svg") no-repeat 16px center, #f5f7fa;
    width: 100%;
  }
}

.page-header {
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -0.5px;
}

.page-description {
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: -0.20000000298023224px;
  color: #2b303b;
  margin-top: 16px;
}

.settings-container {
  ul {
    margin-top: 16px;
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 8px;
    li {
      padding: 8px;
      border-radius: 8px;
      &:hover {
        background-color: #f3f5f8;
      }
      a {
        padding-block: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: -0.20000000298023224px;
        color: #0e121b;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.color-theme-container {
  .page-header {
    margin-top: 16px;
  }
}

.radio-group {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 16px;
  label {
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border: 1px solid #e0e4ea;
    cursor: pointer;
    input {
      margin-left: auto;
    }
    figure {
      border-radius: 12px;
      border: 1px solid #e0e4ea;
      background-color: #fff;
      padding: 8px;
      svg,
      img {
        width: 24px;
        height: 24px;
      }
    }
    &:hover {
      background-color: #f3f5f8;
    }
  }
  label:has(input:checked) {
    background-color: #f3f5f8;
  }
}

.theme-description {
  display: flex;
  flex-direction: column;
  gap: 6px;
  h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: -0.20000000298023224px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: -0.20000000298023224px;
    color: #2b303b;
  }
}

.font-theme-container {
  .page-header {
    margin-top: 16px;
  }
}

.font-theme-applyBtn {
  padding: 12px 16px;
  background-color: #335cff;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.20000000298023224px;
  border: none;
  margin-top: 20px;
  display: flex;
  margin-left: auto;
  &:hover {
    background-color: #1e3a8a;
  }
}

.add-note-btn {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #335cff;
  border: none;
  svg {
    width: 32px;
    height: 32px;
    margin-inline: auto;
  }
}

.note-title {
  width: 100%;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.30000001192092896px;
  color: #0e121b;
  border: 1px solid transparent;
  border-radius: 8px;
  padding-block: 8px;
  &:focus {
    border: 1px solid #0e121b;
  }
}

.new-note-container,
.note-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.note-textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  letter-spacing: -0.20000000298023224px;
  color: #232530;
  outline: none;
  border: 1px solid transparent;
  border-radius: 8px;
  resize: none;
  &:focus {
    border: 1px solid #0e121b;
  }
}

.emptyState {
  padding: 8px;
  color: #0e121b;
  background-color: #f3f5f8;
  border: 1px solid #e0e4ea;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: -0.20000000298023224px;
  border-radius: 8px;
  a {
    color: inherit;
  }
}

.not-found {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

dialog {
  border-radius: 12px;
  border: 1px solid #e0e4ea;
  margin: auto;
  padding: 0;
  width: 343px;
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.dialog-contents {
  padding: 20px;
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 16px;
  align-items: start;
  figure {
    padding: 8px;
    background-color: #f3f5f8;
    border-radius: 8px;
  }
}

.dialog-btns {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  padding: 16px;
}

.dialog-texts {
  display: flex;
  flex-direction: column;
  gap: 6px;
  h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: -0.30000001192092896px;
  }
  p {
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: -0.20000000298023224px;
    color: #2b303b;
  }
}

.cancelBtn,
.deleteBtn,
.archiveBtn {
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.20000000298023224px;
}

.cancelBtn {
  background-color: #f3f5f8;
  color: #525866;
}

.deleteBtn {
  background-color: #fb3748;
  color: #fff;
  &:hover {
    background-color: #d63031;
  }
}

.archiveBtn {
  background-color: #335cff;
  color: #fff;
  &:hover{
    background-color: #1e3a8a;
  }
}

.Toastify__toast-container {
  gap: 8px;
  bottom: 60px;
}

button {
  cursor: pointer;
}

.desktop-menu-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e0e4ea;
  padding-right: 16px;
}

.desktop-menu-tags {
  display: flex;
  flex-direction: column;
  gap: 8px;
  h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: -0.20000000298023224px;
    color: #717784;
    margin-top: 8px;
    padding-inline: 8px;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    li {
      padding: 10px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      letter-spacing: -0.20000000298023224px;
      color: #2b303b;
      cursor: pointer;
      div {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      &:hover {
        background-color: #f3f5f8;
      }
      &.active {
        background-color: #f3f5f8;
        div {
          svg {
            fill: #335cff;
          }
        }
      }
    }
  }
}

.desktop-menu {
  margin-top: 16px;
  margin-bottom: 8px;
  ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 4px;
    li {
      display: flex;
      flex-direction: column;
      gap: 4px;
      border-radius: 8px;
      a {
        padding: 10px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-decoration: none;
        color: #2b303b;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: -0.20000000298023224px;
        div {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
      &:hover {
        background-color: #f3f5f8;
      }
      &.active {
        background-color: #f3f5f8;
        a {
          div {
            svg {
              fill: #335cff;
            }
          }
        }
      }
    }
  }
}

.page-header-desktop {
  padding: 26px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e4ea;
}

.page-header-desktop-right {
  display: flex;
  align-items: center;
  gap: 16px;
  input {
    border-radius: 8px;
    border: 1px solid #cacfd8;
    box-shadow: 0px 1px 2px 0px #0a0d1408;
    padding: 12px 16px 12px 44px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232b303b' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 20px;
    width: 400px;
  }
  button {
    background-color: transparent;
    border: none;
  }
}

.page-container-desktop {
  display: grid;
  grid-template-columns: 1.3fr 3fr 1.3fr;
  height: calc(100% - 102.4px);
  div {
    height: 100%;
  }
}

.page-left {
  display: grid;
  align-items: start;
  grid-auto-rows: max-content;
  padding: 20px;
  border-right: 1px solid #e0e4ea;
  button {
    padding-block: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: -0.20000000298023224px;
    color: #fff;
    background-color: #335cff;
    border: none;
    border-radius: 8px;
    &:hover {
      background-color: #1e3a8a;
    }
  }
  p {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: -0.20000000298023224px;
    color: #2b303b;
  }
}

.page-contents {
  padding: 20px 24px;
  border-right: 1px solid #e0e4ea;
}

.new-note-form-desktop {
  display: grid;
  grid-template-rows: repeat(3, max-content) 1fr max-content;
  height: 100%;
  gap: 16px;
  input {
    width: 100%;
  }
}

.new-note-form-title {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.5px;
  color: #0e121b;
  padding: 4px;
  border-radius: 8px;
}

.note-actions {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  button {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: -0.20000000298023224px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #cacfd8;
    &:hover {
      background-color: #f3f5f8;
    }
  }
}

.settings-desktop-contents{
  display: grid;
  grid-template-columns: 1.5fr 3fr 2fr;
  height: calc(100% - 100.8px);
}

.settings-left-menu{
  padding: 20px;
  border-right: 1px solid #e0e4ea;
  ul{
    list-style: none;
    padding: 0;
    display: grid;
    gap: 8px;
    li{
      border-radius: 6px;
      padding: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      div{
        display: flex;
        align-items: center;
        gap: 8px;
      }
      &:hover{
        background-color: #f3f5f8;
      }
      &.active{
        background-color: #f3f5f8;
      }
    }
  }
}

.settings-desktop-main{
  padding: 32px; 
}

@media screen and (min-width: 768px) {
  .container {
    padding: 24px 32px 60px 32px;
  }

  .mobile-menu {
    ul {
      li {
        border-right: 1px solid #f3f5f8;
      }
    }
  }
  .nav-item {
    margin-inline: auto;
    width: 80px;
  }

  .note-metadata-table {
    td:first-child {
      width: 20%;
    }
  }

  .add-note-btn {
    width: 64px;
    height: 64px;
    bottom: 100px;
    right: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .tag-title {
    padding-block: 0;
  }

  .page-description {
    margin-top: 4px;
  }
}
